@model IMenuNode
<li class="nav-item">
    <a class="nav-link" href="./">
@if (!String.IsNullOrEmpty(Model.Icon))
{    
        <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="ti ti-@Model.Icon"></i>
        </span>
}        
        <span class="nav-link-title">
            @Model.Title
        </span>
    </a>
</li>